<ion-content [fullscreen]="true">
  <div id="header">
    
    <div id="logo">
      <img src="assets/icon/Icono.png" alt="Icono">
    </div>

  </div>

  <ion-card style="background-color: #189200" class="ion-padding">
    <ion-card-content style="background-color: #a3df95; border-radius: 10px;">
      <h1>Bienvenido a la app!!</h1>
      <p>Perros y Gatos esperan formar parte de tu familia</p>

      <ion-button expand="block" class="ion-margin-bottom" routerLink="/login">Iniciar sesión</ion-button>
      <ion-button expand="block" fill="outline" routerLink="/registro">Registrarse</ion-button>

      <div class="line-text">
        <span class="lines"></span>
        <span class="text">Otras opciones</span>
      </div>

      <div class="socials">
          
        <ion-button class="btn-fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        
        <ion-button class="btn-tw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>

        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
